[2018-02-20 18:29] urmi-21 opened #1 "Let phylostratr read blast outputs directly!"
Hi, It would be great if phylostratr can directly read blast output files. Currently, it still needs to run strata_blast() which is not necessary once we have the blast outputs already. This will also be helpful when one wants to run phylostratr multiple times using different thresholds.

[2018-02-20 19:33] arendsee commented on #1
@urmi-21 Thanks, this is a good idea. One tricky issue is that `phylostratr` needs to figure out what the columns are. If the user is providing the files, they will need to either add headers to the files (which is a bit of a pain) or tell phylostratr, in an argument. I'm inclined towards the latter, since I don't want to add a manual step outside of R.

So I am thinking of a function something li

[2018-02-20 20:19] urmi-21 commented on #1
That would work. Another case is when all blast results are named according to the tax Ids i.e. 3702.tab, 9606.tab etc. In this case phylostratr can just read all these files from a path and add them to the corresponding strata object. If some file are missing it should report that too. This will be helpful in importing a large number of blast results and not providing file names as arguments.

[2018-02-20 20:26] arendsee commented on #1
@urmi-21 Yeah, maybe I could allow the `files` argument to optionally take a single directory instead, and then try to guess which files in the directory are BLAST results and what their species is.

[2018-02-21 23:37] urmi-21 opened #2 "Installation issue: phylostratr is fully compatible only with latest ggtree and treeio"
Phylostratr is fully compatible only with latest ggtree (1.11.5) and treeio (>=1.3.9). During installation of phylostratr with `devtools::install_github(arendsee/phylostratr)` it installs treeio v1.2.1 from bioconductor which in turn makes ggtree fail to install. Can you change installation of treeio and ggtree directly from github ?

[2018-02-22 00:05] arendsee commented on #2
The `phylostratr` DESCRIPTION file already states a dependency on the github variant of `ggtree` (version >= 1.11.2), and this version works in my tests. `treeio` is not used directly by `phylostratr`, but is probably imported when `ggtree` is installed. The latest github version of `ggtree` does state the dependency treeio >= 1.3.9.

Everything ought to work. You might tree uninstalling `ggtree`,

[2018-02-22 00:55] urmi-21 commented on #2
Thats what i did let the package manager install it. But then my ggtree installation failed as treeio v1.2.1 as installed by the package manager. So I had to manually install both from github and then i installed phylostratr, which worked!
My R version is 3.4.3

[2018-02-22 11:47] arendsee commented on #2
I've reported an issue at `ggtree`: GuangchuangYu/ggtree#168

Once this is updated on the `ggtree` side, installation should be fine. For now, you can install as so:

[code]

[2018-02-23 10:16] arendsee commented on #2
`ggtree` is now updated, so everything should work

[2018-02-23 10:16] #2 closed, assigned to nobody

[2018-05-04 20:25] aseetharam opened #4 "Possible bug? number of genes per strata is way higher than the total number of genes"
I re-ran the `phylostratr` recently on `Apis florea` and got really weired results. The number of genes reported per strata were way higher than the previous run and the sum doesn't equate to the total number of genes. I think it is due to some bug introduced recently because the previous run had much resonable numbers. The only difference between the previous run and this run is that I've added 1

[2018-05-07 14:16] arendsee commented on #4
@aseetharam Could you send me the head of one of you BLAST files?

[2018-05-07 14:18] aseetharam commented on #4
Sure!
[code]
I just picked a random one. Let me know if you need something specific.

Thanks,

[2018-05-07 15:42] arendsee commented on #4
@arun Do you happen to know the phylostratr version for you old run?

[2018-05-07 15:44] aseetharam commented on #4
Sorry, I don't have that info. But the files were created on Jan 29th, if that is of any help (and you probably fixed some of the issues that I was having that day so, I was running the latest version as of Jan 29th)!

[2018-05-07 15:54] arendsee commented on #4
That narrows it down, thanks

[2018-05-07 16:24] arendsee commented on #4
@aseetharam Thanks, narrows it down.

[2018-05-07 16:51] arendsee commented on #4
Weird, I am still getting the correct results on the yeast dataset.

[2018-05-07 17:20] aseetharam commented on #4
Do you want the dataset I'm working on? I've no luck getting the right results still :(

[2018-05-07 17:46] arendsee commented on #4
Probably I don't need the whole data. How about you upload the file made from this code:

[code]

[2018-05-07 23:19] arendsee commented on #4
@aseetharam Could you post the data? I forgot to tag you in the last message.

[2018-05-07 23:23] aseetharam commented on #4
oops, here it is!
[results-head.zip](https://github.com/arendsee/phylostratr/files/1981776/results-head.zip)
(file is zipped)

[2018-05-07 23:35] arendsee commented on #4
@aseetharam OK, I may have fixed it, try it again

[2018-05-07 23:36] arendsee commented on #4
@aseetharam Well, at least I did fix a bug. Though I think the one I fixed may not be the one that was causing the problem.

[2018-05-07 23:44] arendsee commented on #4
@aseetharam Sorry, disregard the last two messages, I didn't fix a bug, I added a new one.

[2018-05-08 14:10] aseetharam commented on #4
Thanks for all the updates! Hope it gets fixed soon 👍

[2018-05-08 16:32] arendsee commented on #4
This is a bit strange, can I get another file from you:

[code]

[2018-05-08 17:00] aseetharam commented on #4
Here it is!
[results-WZ.Rda.gz](https://github.com/arendsee/phylostratr/files/1984901/results-WZ.Rda.gz)
Thanks,

[2018-08-26 14:25] yenagra opened #5 "How much local storage does it normally take?"
Just wonder if I need to enlarge my harddrive before running this program.

[2018-08-26 15:35] arendsee commented on #5
@yenagra I wouldn't worry about the harddrive. `phylostratr` only uses proteomes and these tend to only require tens of megabytes. So as long as you have a few free GB, you will be fine.

You are far more likely to run into memory problems. I can just barely run *Arabidopsis thaliana* test case on my desktop, where I have 8 GB of RAM. So currently you may need to run `phylostratr` on a server if y

[2018-08-27 01:06] yenagra commented on #5
That's good, thanks.

[2018-08-27 07:24] #5 closed, assigned to nobody

[2018-12-05 07:19] palfalvi opened #6 "Cannot resolve tree ids in `merge_besthits`"
Hi,

Thank you for the package and the framework, it is really great!

I met with a small issue while running `merge_desthits()` on some new data:

[code]
As I am working with unpublished data, I added several ids and fasta files manually. It caused no problem for the blast or plotting the tree. I do not know if it is connected here either, but mentioning. Every other steps, I followed your tutori

[2018-12-05 16:33] arendsee commented on #6
Hi @palfalvi, thanks for the report!

This error message is raised when `phylostratr` can't tell whether a node or leaf label in the tree is an index (ranging from 1 to the number of nodes+leaves in the tree) or a name.

The error occured in the command `merge_besthits(x)`. What does `leafs(x)` tell you? The problem might be that you have a mix of species names and taxonomy IDs.

**Edited to repla

[2018-12-06 09:38] palfalvi commented on #6
Thanks. `leafs(x)` gives back a vector with the ncbi species IDs (only numeric, no name).

[2018-12-06 16:10] arendsee commented on #6
Could you give me the list of ncbi species IDs? I basically know where this bug is occurring and I think I'm just missing some edge case. If I have the list of species I can isolate the problem and make a test case for it.

As a hack, you can convert the species IDs to species names:
[code]
And then rerun `merge_besthits`. This *should* work.

[2018-12-06 16:33] palfalvi commented on #6
c("4362", "16681", "3343", "63099", "231682", "3381", "45172",
"307728", "63459", "3311", "13805", "4932", "9606", "1194090",
"1797576", "572547", "906968", "667014", "653733", "522772",
"1184387", "638303", "445932", "1408204", "515635", "511051",
"981222", "234267", "401053", "1325564", "469616", "1805218",
"1703384", "1797384", "314345", "857265", "1797220", "1945860",
"1628278", "441768", "189

[2018-12-06 16:41] palfalvi commented on #6
Thanks, the `convert_strata` tricked worked.

[2018-12-06 16:43] arendsee commented on #6
Thanks! I'll look into this.

[2018-12-06 16:54] arendsee commented on #6
What is your focal species?

[2018-12-06 16:56] palfalvi commented on #6
16681

[2018-12-06 17:02] arendsee commented on #6
Oooh fun, a carnivore

[2018-12-06 17:13] arendsee commented on #6
OK, I can replicate the problem now:

[code]

`strata_map` is called by `merge_besthits`.

Anyway, I'm getting closer now.

[2018-12-06 17:21] arendsee commented on #6
Odd, so if you take out the Venus Flytrap (4362), the bug goes away ...

[2018-12-06 17:23] palfalvi commented on #6
Thanks for looking into it.
That is indeed strange. Especially if I want to use that as my next focal species. I will check tomorrow if that is working with this or not.

[2018-12-06 17:25] arendsee commented on #6
OK, good night. I'll find the bug.

[2018-12-06 17:35] arendsee commented on #6
Here is a minimal example:

[code]

[2018-12-06 17:47] #6 closed, assigned to arendsee

[2018-12-06 17:51] arendsee commented on #6
Everything *should* be awesome now! Thanks for the report and feel free to message if you run into any more problems. Also feel free to write reports for anything that is poorly documented or just weird.

[2018-12-24 05:55] Piergiorge opened #7 "Error (?) - strata_besthits"
Hello!
I am trying to use phylostratr to analyze a subset of 2000 human proteins. I can load the BLAST results, but I find an error when I try to recover the best hits.

My code:

[code]

Thanks,

Rafael

[2018-12-24 10:47] #7 closed, assigned to nobody

[2018-12-24 10:54] arendsee commented on #7
Thanks for the report @Piergiorge !

This new commit *should* fix the problem. Previously `phylostratr` required you add an `staxid` column to your BLAST files. This was not really necessary, since `phylostratr` already knows the taxonomy IDs and should be able to generate the column for you. Now it can.

I've also added a bunch of new tests and runtime assertions, so you should get more intuitive

[2018-12-24 11:03] arendsee commented on #7
@Piergiorge btw, congrats on your first GitHub issue report! Just a little style note: you can paste syntax-highlighted code blocks like this

[code]

which will render nicely as so:

[code]

[2018-12-26 03:32] arendsee commented on #4
@aseetharam Did we ever resolve this?

[2018-12-26 13:47] aseetharam commented on #4
Not sure if we resolved it, but I found out that it only happens when extra taxa is added that are sister spp to the focal taxa id. This made sense to me so I did not bug you further!

[2018-12-26 16:11] arendsee commented on #4
Hmm, `phylostratr` ought to be able to handle subspecies. I'll close this for now. When I have time, I'll look into subspecies cases and if I can isolate the bug, then I'll open a general issue report.

Thanks @aseetharam !

[2018-12-26 16:11] #4 closed, assigned to nobody

[2019-01-04 00:32] #1 closed, assigned to nobody

[2019-01-04 00:34] arendsee commented on #1
OK @urmi-21 ! After almost a year I finally got around to implementing a function to read directly from BLAST directories. So now you can do this:

[code]

I also added a function to build a `Strata` object from a list of taxonomy IDs: `strata_from_taxids`.

[2019-02-06 20:04] Piergiorge opened #8 "Heatmap layout"
Hello again!

I am using phylostratr to recover data about the conservation level (and age) of analogous enzymes in the human genome, and the software is fantastic for this purpose. In our work, the results produced with BLASTp, against a customized dataset (78 proteomes - https://www.ebi.ac.uk/reference_proteomes), were processed (considering evalue, Score, Identity, and coverage), and some missi

[2019-02-06 22:10] arendsee commented on #8
Hi @Piergiorge , thanks for the report. Could you send me the image of the matrix (you can email it to me if it is confidential)?

I've seen the long-name problem before. I "fixed" it by modifying the generated PDF in a vector editor (Inkscape). The rest of the names are there, but just behind the map. This is not a real solution, of course. I'll label this as a bug and see if I can fix it.

I'll

[2019-02-06 23:28] Piergiorge commented on #8
Hello!

Yes, of course! You can see that *Fusobacterium nucleatum subsp. nucleatum*
ATCC 25586 and others species are behind the map. Is it possible to create
shorter branches? The other thing is to change the white line around each
box (I would like to change it to black).

Regards,

[2019-02-08 22:30] arendsee commented on #8
@Piergiorge Sorry if I'm missing something, but I don't see the image. Did you attach it?

[2019-02-08 23:04] Piergiorge commented on #8
Excuse me. I made a mistake.

So ... this is the picture (I just removed the genes). In white are genomes 'without' orthologs.

![bitmap](https://user-images.githubusercontent.com/22850358/52510607-bd006100-2be3-11e9-8694-fb5a8840fdd4.png)

[2019-02-09 14:44] arendsee commented on #8
Cool, I think what we need is some extra wiring for passing parameters. Currently, most of them are hardcoded. I'll do a bit of refactoring.

[2019-03-13 19:32] aseetharam opened #9 "swap `BiocInstaller` with `BiocManager`"
Looks like package `BiocInstaller` is not available (for R version 3.5.0) and it is superseded by `BiocManager`. Can this be changed so that the installer finds BiocManager and does not complain?

[code]

Thanks,

[2019-03-13 20:12] arendsee commented on #9
This is actually an issue in `devtools`. You can get around it by manually installing `Biostrings` (the one Bioconductor package `phylostratr` uses).

[code]

[2019-03-13 20:42] aseetharam commented on #9
No, that doesn't work for me. I installed it and loaded it, but it still goes through the same steps asking me to install `BiocInstaller`  Not sure what to do.

[2019-03-13 21:40] arendsee commented on #9
Is your devtools package up-to-date?

[2019-03-14 02:06] aseetharam commented on #9
Hi Zeb,

Here is my session info:
[code]
Thanks,

[2019-03-14 11:47] arendsee commented on #9
Yeah, that is pretty old, you might want to upgrade it. The current `devtools` package should be using the up-to-date function. I'm using version 2.0.1.

[2019-03-15 16:20] aseetharam commented on #9
Thanks, that helped! I'll close this issue now.
BTW, the `taxizedb` have additional dependencies and are really pain to install them on a cluster (sqlite/postgresql).

[2019-03-15 16:20] #9 closed, assigned to nobody

[2019-03-15 16:56] arendsee commented on #9
Ah yeah, true about the taxizedb dependencies. sqlite is needed to hand the SQL database. But the other tricky dependencies are not. The taxizedb dependencies could probably be made optional. I'll see what I can do.

[2019-03-15 17:05] arendsee commented on #9
@aseetharam Actually, I ran into the same dependency problem earlier. I solved it by modifying the `taxizedb` package, removing the need for the missing dependencies -- specifically RMariaDB and RPostgreSQL. You can install that version from arendsee/taxizedb. This is not a good long-term solution, though, since I am not maintaining that package.

[2019-07-22 18:28] champ52018 opened #10 "Invalid Strata object"
tid<-'47426'
strata=uniprot_strata(tid, from = 2) %>% strata_apply(f= diverse_subtree,n=5,weights=uniprot_weight_by_ref()) %>% use_recommended_prokaryotes() %>% add_taxa(c('4932', '9606')) %>% uniprot_fill_strata()

#it shows the following error
Error in is_valid_strata(strata) :
  Invalid Strata object, the focal species '47426' is not found in the tree

May I know what might be the issue? I chec

[2019-07-22 20:57] arendsee commented on #10
@champ52018 Thanks for the reproducible report! The problem here is that _Armillaria cepistipes_ is not in the UniProt database. This is a real bug though, since `phylostratr` should give you a chance to add your own sequence before blowing up. Pull the latest version of `phylostratr` from github and the problem should be fixed. You will still have to provide your own proteome for the focal specie

[2019-07-23 07:51] champ52018 commented on #10
@arendsee  Thank you so much for your reply! I tried again using the latest version of pylostratr (BMC Release (https://github.com/arendsee/phylostratr/releases/tag/0.2.0) but I got the same error. It blows up again.

I am copying the steps I followed so that I can explain better:

1. I removed the previous version that I installed from github.
2. I downloaded the source code: https://github.com/a

[2019-07-23 09:57] arendsee commented on #10
Ah, you are downloading the last tagged release, not the most recent one. Try installing like so:

[code]

That will retrieve the very latest version.

[2019-07-23 10:54] champ52018 commented on #10
Hi, at first I downloaded and installed using:

The second time, after seeing your message I did using

[2019-07-23 18:22] arendsee commented on #10
The command

[code]

installs the old version, you should use the version I just committed to github. You can get that through `devtools::install_github`.

[2019-07-23 18:57] champ52018 commented on #10
Hi I did that as well. It gives the same problem.

[2019-07-24 02:45] arendsee commented on #10
Can you show me the output of `devtools::session_info()`?

[2019-08-26 20:55] priyanka8590 opened #11 "Issue in compiling phylostratr results"
After I loaded BLAST, I ran this line
strata <- strata_blast(strata, blast_args=list(nthreads=8L)) %>% strata_besthits

It skipped a bunch of taxonomy IDs, and stopped at 3311. It gave this error:

3311: blasting ...

sh: line 1:  7524 Segmentation fault      (core dumped) 'blastp' -db blastdb/SGTW.faa -query uniprot-seqs/3702.faa -outfmt "6 qseqid sseqid qstart qend sstart send evalue score" -num

[2019-08-29 10:21] arendsee commented on #10
@champ52018 Did you find a solution to the problem?

[2019-08-29 10:24] arendsee commented on #11
This issue has been resolved outside github. If you have a similar problem, you can open a new issue.

[2019-08-29 10:24] #11 closed, assigned to nobody

[2019-08-29 21:06] priyanka8590 commented on #11
I just wanted to add a little detail which can help. Before running BLAST, when you generate all the files for BLAST to run:
echo -e 'qseqid\tsseqid\tqstart\tqend\tsstart\tsend\tevalue\tscore' > <target>.tab
blastp \
-query <focal_species> \
-db <target_database> \
-outfmt '6 qseqid sseqid qstart qend sstart send evalue score ' >> <target>.tab
This part in the supplementary file should contain as

[2019-09-04 16:25] priyanka8590 opened #12 "Issues in compiling results"
At the very end, after I run BLAST and everything works seamlessly, I run into an error at this line:
results <- merge_besthits(strata)

Error in `$<-.data.frame`(`*tmp*`, mrca, value = "58024") :
replacement has 1 row, data has 0
What do you think it means? Am I missing something?

[2020-01-15 16:17] fka21 commented on #8
Hey @arendsee,

Has this issue been resolved? I also get an oddly looking heatmap with many warning messages regarding factoring. I have uploaded a picture of the first page. Also is there a way of shifting the tree with the genes? It would feel a bit more natural at least for me.

<img width="1240" alt="Screen Shot 2020-01-15 at 17 13 26" src="https://user-images.githubusercontent.com/48235675/72

[2020-01-15 16:54] arendsee commented on #8
Hi @fka21

Just to clarify, you would like to be able to move the tree to the left so that the names do not overlap with the heatmap?

Could you post the warnings you are getting?

[2020-01-16 09:46] fka21 commented on #8
Hi @arendsee

I'd like to move the tree edges to be the columns and the genes to become rows. Don't know if that is more clear, I might explain it really poorly.

Also the warning messages look like this:
`Warning messages:
1: In `[<-.factor`(`*tmp*`, is.na(ordered), value = 5) :
  invalid factor level, NA generated
2: attributes are not identical across measure variables;
they will be dropped
3:

[2020-05-14 16:44] urmi-21 opened #14 "Empty faa file for 1008392 produces error with diamond"
I found that the function `add_recommended_prokaryotes` add a species with tax id 1008392. The `uniprot_fill_strata` function downloads an empty faa file for this. This creates an issue when using the newly added `strata_diamond` function as diamond throws an error when using an empty file.

I looked up NCBI and found this species only has a nucleotide sequence https://www.ncbi.nlm.nih.gov/taxonom

[2020-06-11 15:50] CWYuan08 opened #15 "strata_blast issue"
Hi there,
I couldn't run strata_blast(strata), and it says:
Error in system2("blastdbcmd", stdout = TRUE, stderr = TRUE, args = c("-info",  :
  error in running command

How can I solve the problem?

Thank you!
Best,
CW

[2020-06-11 20:06] arendsee commented on #15
Thanks for the report @CWYuan08 , do you have `blastdbcmd` installed on your system?

Are you on a Mac?

[2020-06-11 22:17] CWYuan08 commented on #15
@arendsee,
thanks for prompt reply, I have just installed blast and can run blastdbcmd from the command line. But I still got the same error when I rerun the r command..what can I do next?
Yes I'm on a Mac

Thanks
CW

[2020-06-11 23:09] arendsee commented on #15
The error is being raised in the function `.bastdb_exists` of the `blast.R` file in the package. The purpose of this function is to confirm that a particular blast database exists. The failure indicates that it does not.

I've improved the error message. It will now tell you the path of the expected blast database. This will not fix your problem, but the new error message should tell you where to

[2020-06-12 00:16] CWYuan08 commented on #15
@arendsee,
I haven't rerun the analysis, just a quick question, what databases do I need? all nr files from NCBI Blast database?
(Sorry I am based in the UK, it is mid-night now, will rerun the analysis tomorrow.)

Thanks
CW

[2020-06-12 09:42] CWYuan08 commented on #15
Dear @arendsee,

I have rerun and got:
"69293.faa: making blast database ...
Building a new DB, current time: 06/12/2020 10:36:17New DB name:   /private/var/folders/k5/spztwp4x1n7_24q50wj3r0240000gn/T/RtmpA3HW6e/_blast_db/blastdb/69293.faaNew DB title:  uniprot-seqs/69293.faaSequence type: ProteinKeep MBits: TMaximum file size: 1000000000BBLAST options error: File uniprot-seqs/69293.faa does not e

[2020-06-12 15:28] arendsee commented on #15
You do not need to build or download a database. `phylostratr` makes the BLAST databases automatically from the protein files that are automatically downloaded from UniProt. The file 69293.faa should contain the protein sequences from the species with the NCBI taxonomy ID 69293.

The error message says that the file `uniprot-seqs/69293.faa` could not be found. `phylostratr` should have created thi

[2020-06-12 17:04] CWYuan08 commented on #15
Hi @arendsee,
I do have the uniprot-seqs folder with 69233.faa in it. The code I am running was strata_blast(strata, makedb_args = list(verbose = T), blast_args = list(nthreads = 3)).

Thanks
CW

[2020-06-12 17:20] arendsee commented on #15
Are you running this from RStudio? You need to be sure that `uniprot-seqs` is in your working directory. The error message suggests that you are in a temporary folder.

[2020-06-14 10:38] CWYuan08 commented on #15
@arendsee,
Thank you! It took some time to run the command. The command was running for a while but stopped, and I got:

1008392.faa: making blast database ...
Building a new DB, current time: 06/14/2020 11:31:39New DB name:   blastdb/1008392.faaNew DB title:  uniprot-seqs/1008392.faaSequence type: ProteinKeep MBits: TMaximum file size: 1000000000BBLAST options error: File uniprot-seqs/1008392.faa

[2020-06-14 15:57] arendsee commented on #15
Is the species 1008392 in uniprot? The files will be empty if no data is available for the species. If the proteome is available elsewhere, then you can replace the file.

[2020-06-14 17:20] CWYuan08 commented on #15
@arendsee
I see, but I don't know where this number was from, I didn't specify it in my previous command, and I couldn't find its proteome, how could I remove it from the analysis? I tried to delete it, but it then reports that this file is absent.

Thank you
Best,
CW

[2020-06-15 21:50] arendsee commented on #15
The species 1008392 is one `phylostratr`'s default bacterial representatives. That particular proteome was apparently deleted when the curators removed redundant proteomes earlier this year [(see there)](https://www.uniprot.org/help/proteome_redundancy). We can fix your problem by removing this representative.

The default bacterial representatives are stored in the package data ("inst/extdata/pro

[2020-06-15 21:51] #15 closed, assigned to nobody

[2020-06-15 21:53] arendsee commented on #15
I closed the issue with the last commit. If you have any more issues you can reopen it. Also, you can message if all goes well. It is nice for me to know.

[2020-06-16 01:40] haojingshao commented on #14
I am following the online supplementary [document](https://oup.silverchair-cdn.com/oup/backfile/Content_public/Journal/bioinformatics/35/19/10.1093_bioinformatics_btz171/1/btz171_supplementary_material.pdf?Expires=1594959232&Signature=hWNhs-hp78I59jnI3fvL8BOvLeC8PYy1h14U84TXUaUApC9LIAplcL3rUB1Cr55BajfGKBFDTsmdg9x42mLM6~PrPyxtFnmNGKe3S0RVtrP7mVFOOmzv29AwrxPdfhmEUcgI1FhRavsI76bBAyS1nhUmOwJfEumqPgH4F

[2020-06-16 02:02] arendsee commented on #14
@urmi-21 @haojingshao you are exactly right. See issue #11 where we just now fixed this issue by removing the species 1008392, as suggested by @urmi-21, from the default set of representatives for bacteria. Apparently the proteome was removed this year from UniProt. Everything should work fine in the latest commit.

@haojingshao the BLAST headers in `phylostratr` are definitely a pain. You may sub

[2020-06-16 02:02] #14 closed, assigned to nobody

[2020-06-17 05:53] haojingshao opened #16 "[Question]NCBI nr database VS uniprot"
Hi arendsee,
The first paper "Domazet-Loso et al. 2007" uses NCBI nr database. Your R code indicates that phylostratr uses Uniprot. I find the classification results from two databases are very different. I am new to prot database. Do you know what is the difference between them? Why does phylostratr use uniprot?

Thanks,
Haojing

[2020-06-17 14:15] arendsee commented on #16
Hi Haojing,

`phylostratr`'s approach is to search a select set of complete proteomes rather than everything in the huge nr database. The `phylostratr` [paper](https://academic.oup.com/bioinformatics/article/35/19/3617/5380767) details the reasoning.

Zeb

[2020-06-17 14:15] #16 closed, assigned to nobody

[2020-06-18 12:52] CWYuan08 commented on #15
@arendsee,
Hi, I reinstalled then it was running for two days however, it stopped again and said:" BLAST Database error: No alias or index file found for protein database [blastdb/1008392.faa] in search path [/Users/CW::]
And it reported again what said above "File uniprot-seqs/1008392.faa does not exist"

Sorry, I am not sure if I followed your instruction. How can I access the package data in R?

[2020-06-18 21:01] arendsee commented on #15
Can you print your session info information? Do the following and tell me what it says:

[code]

The session info output should have the exact line:

[code]

If not, then you have the wrong phylostratr version and need to reinstall with `devtools::install_github("arendsee/phylostratr")`.

Next do the following:

[code]

The above command will list all the strains representing bacteria. If 1008392

[2020-06-18 22:30] CWYuan08 commented on #15
@arendsee,
Thanks!
I do have  "phylostratr * 0.2.1   2020-06-18 [1] Github (arendsee/phylostratr@dc1e49a)" installed, and 1008392 is not in the list.
I thought I restarted Rstudios, but I will try it again with a fresh R session and get back to you.

Thank you for your patience!

Best
CW

[2020-06-18 23:47] arendsee commented on #15
Before you rerun it, you should go to your working directory and delete the 1008392 files in uniprot-seqs and the blast output files (if it appears in either place).

Oh, and you don't need to download "prokaryote_sample.rda" or do anything else.

[2020-07-09 21:30] maxnest opened #17 "BLAST Database error"
Hello!
Thank you for such important and useful software. Unfortunately, there was error during the similarity search step. The full code is below:
*****

strata_apply(f=diverse_subtree, n=5, weights=uniprot_weight_by_ref()) %>%
use_recommended_prokaryotes %>%
add_taxa(c('4932', '9606')) %>%
uniprot_fill_strata
The focal species is not present in UniProt. You may add it after retrieving uniprot seq

[2020-07-10 16:33] arendsee commented on #17
@maxnest What files are in the `blastdb` folder?

[2020-07-10 17:28] maxnest commented on #17
@arendsee in the blastdb folder are 3 files: 4932.faa.phr, 4932.faa.pin, and 4932.faa.psq

[2020-07-10 21:12] arendsee commented on #17
@maxnest What's your working directory? If the database files exist, and if R can't find them, then you may be in the wrong directory. Also check your blast database files and the uniprot sequences for files that are empty.

[2020-07-13 11:21] CWYuan08 opened #18 "qseqid problem"
Hi @arendsee,

I have managed to run the same analysis as the tutorial for my data, but I am wondering why the qseqid for all ps is ensembl_peptide_ID, except for ps 2, which has different ID names that I don't know how to convert in biomart.

![Screenshot 2020-07-13 at 12 14 45](https://user-images.githubusercontent.com/44019105/87298852-d60cf000-c502-11ea-8050-c260a37664ba.png)
![Screenshot 2020

[2020-07-13 17:22] arendsee commented on #18
@CWYuan08 I have a rough idea of what might be wrong, but it could take awhile to fix. As far as the phylostratigraphic results go, the protein ids shouldn't matter much (I never needed to deal with them). However, the inconsistency you found in the labels is a bug, and I'll look into it.

I'm under a bit of pressure at the moment, but I'll get to this problem maybe in a few days. If I don't respo

[2020-07-17 19:06] CWYuan08 commented on #18
Dear @arendsee,
Have you had any chance to check this bug? I would greatly appreciate your help:)
Thank you
Best
CW

[2020-07-20 20:54] CWYuan08 commented on #18
Dear @arendsee,
Have you had any chance to check this bug? I would greatly appreciate your help:)
Thank you
Best
CW

[2020-07-31 14:25] CWYuan08 commented on #18
Dear @arendsee,
Sorry for bothering you again, have you had any chance to check this bug? I would greatly appreciate your help:)
Thank you
Best
CW

[2020-07-31 15:30] arendsee commented on #18
@CWYuan08 I don't think I can fix this. `phylostratr` uses the IDs that uniprot provides and mapping to other ID systems isn't supported. Adding handling for such conversions may be possible, but I don't have the time to implement it. I would be happy to merge a pull request from anyone who finds a solution, though.

[2020-07-31 16:52] CWYuan08 commented on #18
Dear @arendsee,
I see, I am not sure how this can be fixed. So this is a problem of uniprot files for Eukaryota only? I am wondering why only ps2 is affected

Thank you
CW

[2020-07-31 19:20] arendsee commented on #18
The ps2 entries do have useful IDs in them. You just need to extract the patterns after the "sp|", these are Swissprot IDs, I believe. For example, Q1LU93. Biomart should be able to handle these.

[2020-08-01 14:29] CWYuan08 commented on #18
Thank you! I have found some explanation for the different parts, I will give it a try.
Best
CW

[2020-08-01 15:22] arendsee commented on #18
OK, good luck!

[2020-08-01 15:22] #18 closed, assigned to nobody

[2020-08-10 01:27] paolacornejo opened #19 "Error: 'classification' is not an exported object from 'namespace:taxizedb'"
Hello,

I am trying to use phylostratr and I cannot even run the example. When I run the function "uniprot_strata" I get the following error:

Error: 'classification' is not an exported object from 'namespace:taxizedb'

I looked at the function (uniprot_strata) and it seems it calles the function "taxizedb::classification" but this function is not part of the package    taxizedb:

 `lsf.str("packa

[2020-08-10 15:37] arendsee commented on #19
Classification is definitely in the taxizedb package. Try pulling the latest version from github: `devtools::install_github("ropensci/taxizedb")`.

[2020-08-10 15:37] #19 closed, assigned to nobody

[2020-08-11 04:26] paolacornejo opened #20 "No alias or index file found"
Hello,

I am getting a lot of these messages when I run phylostratr:

BLAST Database error: No alias or index file found for protein database [blastdb/4932.faa] in search path [/mypath:/data/bio/ncbi/refseq200v5:]
 24932: blasting ...
BLAST Database error: No alias or index file found for protein database [blastdb/9606.faa] in search path [/mypath:/data/bio/ncbi/refseq200v5:]
 29606: blasting ...

[2020-10-12 15:49] fka21 opened #21 "Duplicated factor levels while calling stratify()"
Hello. When calling the stratify function I get an error message of
`Error in `levels<-`(`*tmp*`, value = as.character(levels)) :
  factor level [20] is duplicated`

The code used was
`focal_taxid <- '7230'`
`str_dmoj <- strata_from_blast_dir(focal_taxid, blastdir = "/Users/ferenckagan/Documents/Bioinformatic_analysis/phylostratr_proteomes/Comparative_phylostrat/7230",

[2021-11-16 15:27] GavinLu42 opened #22 "strata_blast issue, similar to #15"
Greetings,

I have a similar issue to a previously posted issue #15, that when I try to run strata_blast(strata), I get the same error:
Error in system2("blastdbcmd", stdout = TRUE, stderr = TRUE, args = c("-info", :
error in running command

I have blast+ installed on my system and can run blastdbcmd from command line, and I am on Mac as well. I have the latest version of the package installed, b

[2021-11-25 16:20] fka21 opened #23 "Error when importing external blast results"
Hello,

I have been using this great package for a while now, but recently something has changed, I could not find out what it was so I ended up writing here for some help.

So I have retrieved all sequences for blasting using phylostratr's algorithm and performed the blasts manually. After that I have formatted the results to be imported(I have attached such an output sample with txt suffix becau

[2022-06-13 13:03] billadelonge commented on #1
Hi, I'm trying to use the function strata_from_blast_dir but I get the following error
`Error in x$id : $ operator is invalid for atomic vectors`

[2022-07-06 04:33] TaoCheng98 opened #24 "May I use Phylostratr to study the genomic phylostratigraphy of Mycobacterium tuberculosis?"
Hi,

Phylostratr is so wonderful that I would like to use  it to study the genomic phylostratigraphy  of Mycobacterium  tuberculosis.

The Phylostratr appears to have been designed for use in eukaryotes, but I still wonder if Phylostratr can be used in prokaryotes?

best.

Chengtao

[2022-07-20 19:39] kdarragh1994 opened #25 "Error in readLines(con) : HTTP error 400."
Hi,

I am trying to run the Arabidopsis example and am running into difficulties. When running any of the uniprot commands e.g. uniprot_weight_by_ref or uniprot_strata I get the same error message: Error in readLines(con) : HTTP error 400.

My error for this chunk of code in the markdown file is this:

Error in readLines(con) : HTTP error 400.
5.readLines(con)
4. readLines(con) %>% cast
3. wrap_un

[2022-07-29 03:52] wangchengww opened #26 "Help!!!! HTTP 400"
![image](https://user-images.githubusercontent.com/50773859/181679218-99b34609-4ea6-41b7-9a7c-c38b46d46d84.png)

[2022-07-31 13:02] #25 closed, assigned to nobody

[2022-07-31 13:02] #26 closed, assigned to nobody

[2022-07-31 13:04] arendsee commented on #25
@kdarragh1994 Uniprot deprecated their old API a few months ago and that is what broke everything in `phylostratr`. I just updated the Uniprot functions and everything *should* work now. Let me know if you run into any further problems.

[2022-07-31 13:05] arendsee commented on #26
@wangchengww I migrated to the new Uniprot API and everything should work now. Let me know if there are any more issues. I'll run a few more tests tonight.

[2022-07-31 18:21] kdarragh1994 commented on #25
@arendsee Thank you for fixing this. The main issue that I am having which I'm not sure if this is normal or not because I haven't used phylostratr before is that the files in the uniprot-seqs folder are very small, for example, using 7227 the Drosophila melanogaster ID there are tens of proteins in the file when there should be thousands according to the proteome on uniprot. All of these files ar

[2022-07-31 22:21] kdarragh1994 commented on #25
@arendsee  I am also definitely in the correct working directory in R and yet get the error message: BLAST Database error: No alias or index file found for protein database  for all organisms.

[2022-08-01 03:18] arendsee commented on #25
@kdarragh1994 Hmm, I'll need to double check what is going on. Can you send me the exact code you are running?

[2022-08-01 15:08] kdarragh1994 commented on #25
@arendsee

Thank you! I attached the peptide file in case you need it also (I changed .fa to .txt for uploading purposes). The first issue is as mentioned above, the proteomes seem small. And then when I got to run the blastdb section I get this error for every proteome:
BLAST Database error: No alias or index file found for protein database
However, I am in the correct directory and I can see the

[2022-08-02 02:44] arendsee commented on #25
Thanks, I found the problem. The files are short because the new API returns data in chunks. I am currently working on the code to loop through these chunks and collect all the data. I should have everything working in a day or two. I'll stay in touch.

[2022-08-04 02:01] arendsee commented on #25
@kdarragh1994 OK, I think I fixed the problem. Pull from github and let me know if everything is working correctly. I'm still having trouble removing isoforms from proteomes (which is the default behavior). Your code will raise some warnings about this, but it shouldn't be a problem. You will just have a few extra genes in some of the target species. You may want to provide your own data for the f

[2022-08-05 19:36] kdarragh1994 commented on #25
@arendsee Thanks so much! I think it must be working now because I am getting an out of memory error in R so am trying to get it working on our university cluster and running into some difficulties but I think these are more cluster-related than issues with the package itself. Have you successfully done this or do you mainly run things locally?

[2022-08-06 11:00] arendsee commented on #25
Phylostratr isn't very efficient with memory. I'll see if I can fix that. One thing you might try in the meantime is to subsample the 'peptides_all.fa' file down to, say, 100 proteins and see if it works.

[2022-08-08 17:18] kdarragh1994 commented on #25
@arendsee  The error message that I am getting is at the first step when downloading the proteomes before I have read in the peptides_all.fa file. Uniprot is accessed and then a while later I get "Error: out of memory". The folder which should hold the proteomes is not even created.

On the cluster I get stuck at the same step but with error message: "Error: '~/.cache/R/taxizedb/taxdump/names.dmp'

[2022-08-09 00:30] arendsee commented on #25
I'm working on it, the uniprot API is still not quite right. I'm rewriting it using the SPARQL interface. I've figured out the SPARQL queries, but haven't gotten it integrated yet.

As for the taxizedb error, it sounds like the database hasn't been downloaded on your system. Try deleting the .cache/R/taxizedb directory. Then the database should be downloaded automatically. But you'll still have to

[2022-08-10 04:15] arendsee commented on #25
@kdarragh1994  The SPARQL API is working now. I haven't done careful end-to-end tests again. Hopefully, I can get these done over the next couple days. You can try running the program again. It should work on your personal computer assuming it is a Linux or Mac.

[2022-08-13 00:30] kdarragh1994 commented on #25
@arendsee Thanks so much, all ran smoothly! Just wanted to let you know there is no longer a proteome available for "1895832". I removed it following previous instructions from another thread but thought I should give you a heads up. Thanks again!

[2022-08-13 01:03] arendsee commented on #25
@kdarragh1994 Yay, I'm glad it is working! That proteome is for one of the prokaryote representatives, right? I guess I should update them at some point. Though it should be fine for now to just leave it out.

[2022-11-09 03:26] xuezhang335 opened #27 "Error in (function (fastafile, blastdb = "blastdb", verbose = FALSE) : Failed to make blast database blastdb/Araport11_genes.201606.pep.fasta In addition: Warning message: In system2("makeblastdb", stderr = TRUE, stdout = TRUE, args = c("-dbtype", : running command '"makeblastdb" -dbtype prot -in Araport11_genes.201606.pep.fasta -out blastdb/Araport11_genes.201606.pep.fasta' had status 1"
Error in (function (fastafile, blastdb = "blastdb", verbose = FALSE)  :
  Failed to make blast database blastdb/Araport11_genes.201606.pep.fasta
In addition: Warning message:
In system2("makeblastdb", stderr = TRUE, stdout = TRUE, args = c("-dbtype",  :
  running command '"makeblastdb" -dbtype prot -in Araport11_genes.201606.pep.fasta -out blastdb/Araport11_genes.201606.pep.fasta' had status 1

Hi

[2022-11-09 04:18] Dabaixian commented on #27
i also met this problem. ohno

[2022-11-14 03:02] Dabaixian commented on #27
i wonder if it were caused as i have't installed diamond rightly？

[2022-11-16 00:06] arendsee commented on #27
Sorry for the late reply, I'll look into this problem. It would help if I knew your system info. Could you post the output of `devtools::session_info()`?

[2022-11-16 02:21] Dabaixian commented on #27
Hi Arendsee,
       Thank you for your reply!! I run the devtools::session_info(), and its results is as follows. By the way, I wonder if the problem lies as i didn't install diamond. Now i am trying it with my macbook, as diamond doesn't have windows version. Whereas,there's no guarantee it'll be all right. Your help means a lot for me! Thank you again!!
[devtools sessioninfo results.docx](https:

[2022-11-17 14:19] Dabaixian commented on #27
Hi Arendsee,
     i have tried to add diamond to my path in the Linux system, but it still reported an error. I do not know how to tackle it. I'm really sorry to bother you. Phylostratr is such a good method for me to analyze the age/stratum of human genes that i don't want to give up this method. So could you help me with it? Thank you sososo much!

[2022-11-23 12:47] arendsee commented on #27
@Dabaixian Do you use the command `strata_diamond` in your script? The diamond program is basically the same as BLAST but runs ~100X faster. If you are using BLAST and the `strata_blast` command, then you should not need to install diamond.

And you had the same error when running on MacOS?

Try pulling the latest version of phylostratr and trying again. You should at least get better error messag